.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #d6dbe6;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(30px + 2vmin);
  color: black;
}

.App-subhead{
  background-color: #d6dbe6;
  display: flex;
  text-align: left;
  font-size: calc(15px + 2vmin);
  color: black;
}

.App-form{
  display: flex;
  align-items: left;
  font-size: calc(5px + 2vmin);
  color: black;
}
.App-link {
  color: #09d3ac;
}

.Manager-table{
  background-color: #d6dbe6;
  color: black;
}

.Home{
  background-color: #d6dbe6;
  color: black;
}
.Light{
  background-color: #d6dbe6;
  color: black;
}